<main class="login-form">
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Add Product</div>
          <div class="card-body">
            <form [formGroup]="productFormGroup">
              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Name</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" formControlName="name"
                         [ngClass]="{'is-invalid':submitted && productFormGroup.controls['name'].errors}">
                  <div class="invalid-feedback" *ngIf="productFormGroup.controls['name'].errors">Name is required</div>
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Price</label>
                <div class="col-md-6">
                  <input type="number" class="form-control" formControlName="price">
                </div>
              </div>

              <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right">Quantity</label>
                <div class="col-md-6">
                  <input type="number"  class="form-control" formControlName="quantity">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="selected"> Selected
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="available"> Available
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary" (click)="onUpdateProduct()">
                  Update
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
