<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="nav-link btn-sm btn btn-primary m-1" (click)="onGetAllProducts()" >All</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-sm btn btn-primary m-1" (click)="onSelectedProducts()">Selected</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-sm btn btn-primary m-1" (click)="onAvailableProducts()">Available</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-sm btn btn-primary m-1" (click)="addProduct()">New Product</button>
      </li>
    </ul>
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class=" d-flex" >
      <input ngModel name="keyword" class="form-control me-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><span class="fa fa-search fa-lg"></span></button>
    </form>
  </div>
</nav>
<ng-container *ngIf="product$ | async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">

<div class="container">
  <div class="col-12 offset-6">
    <img src="../../../assets/img/Disk-1s-200px.gif" style="width: 70px;"/>
  </div>
</div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Selected</th>
          <th>Available</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of result.data">
          <th>{{p.id}}</th>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>{{p.quantity}}</td>
          <td>
            <span  class="btn btn-sm">
              <span *ngIf="p.selected"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></span>
              <span *ngIf="!p.selected"><i class="fa fa-circle-o fa-2x" aria-hidden="true"></i></span>
            </span>
          </td>
          <td>
             <span  class="btn btn-sm">
              <span *ngIf="p.available"><i class="fa fa-toggle-on fa-2x" aria-hidden="true"></i></span>
              <span *ngIf="!p.available"><i class="fa fa fa-toggle-off fa-2x" aria-hidden="true"></i></span>
            </span>
          </td>
          <td>
            <button (click)="onSelect(p)" type="button" [ngClass]="p.selected?'btn-success':'btn-warning'" class="btn btn-sm m-1">
              <span *ngIf="p.selected">Unselect</span>
              <span *ngIf="!p.selected">Select</span>
            </button>
            <button (click)="onDelect(p)" type="button"  class="btn btn-sm btn-danger m-1">
              <span class="fa fa-trash fa-lg"></span>
            </button>
            <button (click)="onEdit(p)" type="button"  class="btn btn-sm btn-info m-1">
              <span class="fa fa-pencil-square-o fa-lg"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert alert-dismissible alert-danger">
      <strong>{{result.errorMessage}}!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>


  </ng-container>
</ng-container>
