<ng-container *ngIf="productinput$ | async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">

    <div class="container">
      <div class="col-12 offset-6">
        <img src="../../../assets/img/Disk-1s-200px.gif" style="width: 70px;" />
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Selected</th>
          <th>Available</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <app-productitem *ngFor="let p of result.data" style="display:contents" [product]="p" (productEventEmitter)=" onActionEvent($event)"></app-productitem>
      </tbody>
    </table>

  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert alert-dismissible alert-danger">
      <strong>{{result.errorMessage}}!</strong> <a href="#" class="alert-link">Change a few things up</a> and try
      submitting again.
    </div>


  </ng-container>
</ng-container>
